
#register_wrapper
{
    float:left;
    width:70%;
    font-family:Arial;
    font-size:13px;
}
#mode_form
{
    position:relative;
    background-color:#DDD;
    padding: 8px 0px 8px 0px;
}

#show_suspended_sales_button
{
    position:absolute;
    top:3px;
    right:4px;
}

#mode_form span
{
    font-weight:bold;
}

#add_item_form
{
    position:relative;
    background-color:#BBBBBB;
    width:100%;
    padding: 8px 0px 8px 0px;
}

#new_item_button_register
{
    position:absolute;
    top:3px;
    right:4px;
}

#add_item_form input
{
    border: 1px solid #ccc;
    padding: 2px;

}

#item_label,#customer_label
{
    font-weight:bold;
}

#add_item_form label
{
    margin: 0px 5px 0px 5px;
}

#register
{
    position:relative;
    width:100%;
    padding:0px;
    border-collapse:collapse;
}

#register th
{
    background-color:#4386a1;
    padding:5px;
    text-align:center;
    color:#FFFFFF;
}

#register td
{
    background-color:#EEEEEE;
    padding:1px;
    text-align:center;
    color: #1a1a1a;
}


#overall_sale
{
    float:left;
    margin-left:4px;
    background-color:#BBBBBB;
    width:28%;
    padding:5px;
    font-family:Arial;
    font-size:16px;
    color: #1a1a1a;
}

#sale_details
{
    position:relative;
    width:100%;
    margin-top:0px;
    border-top:2px solid #000;
}

#sale_details .btn{
    font-weight: bold;
    font-family:Arial;
    font-size: 12px;
}

#finish_sale
{
    position:relative;
}

#Payment_Types
{
    float:left;
    width:100%;
    margin-top:5px;
    border-top:2px solid #000;
    background-color:#DDD;
    margin-bottom:0px;
    clear:both;
}

#Cancel_sale
{
    float:left;
    width:100%;
    margin-top:5px;
    clear:both;
}
#suspended_sales_table th
{
    text-align:center;
}

#suspended_sales_table td
{
    padding: 7px;
}

#credit_card_form fieldset
{
    overflow: auto;
    border: 0;
    margin: 0;
    padding: 0;
}

#credit_card_form fieldset div
{
    float: left;
}

#credit_card_form fieldset.centered div
{
    text-align: center;
}

#credit_card_form label
{
    display: block;
    margin-bottom: 5px;
}

#credit_card_form input.text
{
    border: 1px solid #bfbab4;
    margin: 0 4px 8px 0;
}

#cart_contents input{
    font-size: 16px;
    width: 100%;
    border-radius: 0;
    margin: 0;
}

input[name=price], 
input[name=subtotal], 
input[class=total], 
input[class=total_incl_vat],
input[class=discount], 
input[class=payout], 
input[class=perc], 
input[class=vat], 
input[class=bal]{
    pointer-events: none;
    background-color:#EEEEEE;
    text-align:center;
    color:#000000;
}

input[type=text] {
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

#item_suggestion_list > li {
    background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 1px solid #E3E3E3;
    list-style: none outside none;
    padding: 3px 15px 3px 15px;
    text-align: left;
}

#item_suggestion_list > li a { color: #800000; }

.auto_list {
    border: 1px solid #E3E3E3;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
}


