body{
    overflow-x: hidden;
}
/*===========login page css============*/
.login_form, .registration_form{
    background-color: white;
    padding: 0 20px 0 20px;
}
.brand-contents p{
    font-family: Cambria;
    font-weight: 900;
    font-size: 40px;
    margin-top:-65px;
    color: white;
    margin-left: 43%;
}
.logo {
    height: 15vh;
    margin-left: 35%;
    margin-top: 3vh;
    margin-bottom: 0;
    width: 60vh;
}
.top_nav{
    background-color: #0f0f0f;
    text-align: center;
}
.top_nav > span{
    color: white;
    font-family: Cambria;
    font-size: 20px;
    font-weight: 600;
}
.login_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #0f0f0f;
    text-align: center;
    padding: 10px 0 10px 0;
}
.login_footer > span{
    color: white;
    font-family: Cambria;
}

body .container.body .right_col {
    background-color: white;

}
.export-btn{
    margin-top:12px;
}
.submit-btn{
    margin-top: 5px;
}
hr{
    margin-top: 0;
}
.pannel-contents{
    margin: 10px;
}

.home-icon{
    margin-top: 20px;
}
/*==============registration page==========*/
.registration{
    width: 40%;
    margin: 15vh 30% 0 30%;
    padding: 10px 20px 10px 20px ;
    background-color:white;
}
/*forms*/
/* panel */
.tabs .panel {margin-top: 25px;}
.tabs .panel .panel-heading { padding: 5px 5px 0 5px;}
.tabs .panel .nav-tabs {border-bottom: none;}
.tabs .panel .panel-body {padding: 0 20px 15px 20px;}

/* inactive tabs */
.tabs > .nav > li > a {
    background-color: #f5f5f5;
    color: #676767;
    border-color: #dddddd;
    border-width: 1px;
    padding: 5px 15px;
    line-height: 2;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    transition: all 0.75s;
}

.tabs > .nav > li > a:active
{ background-color: #f5f5f5;
    color: #676767;
}
.tabs > .nav > li > a:focus{
    background-color: #f5f5f5;
    color: #676767;
}
.tabs > .nav > li > a:hover {
    background-color: #eeeeee;
    color: #676767;
    border-color: #dddddd;
}

/* active tabs */
.tabs > .nav > li.active > a:hover {
    color: #222222;
}
/* modal header styles*/
modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-warning {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.btn{
    border-radius: 0;
}
.mynav{
    border-radius: 0;
}
.report-div{
    height: 500px;
    width: 35%;
    box-shadow: 0 0 25px #575757
    /*box-shadow: 10px 10px 5px 5px #888888;*/

}
.report-div h2{
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
}
.report-div p{
    text-align: center;
    padding-top: 2px;
    font-size: 16px;
}

.btn-sq-lg {
    width: 190px ;
    height: 150px ;
}

.btn-sq {
    width: 120px ;
    height: 100px ;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px ;
    height: 50px ;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px ;
    height: 25px ;
    padding:2px;
}

